.btn {
    padding: .75rem 1rem;
}
.dataTables_length {
    margin-top: 30px;
}
.dataTables_length select {
    display: inline-block;
}
table.dataTable tbody tr,
table#example thead tr {
    font-size: 13px;
}
#example {
    padding-top: 5vh;
}
.btn.btn-default.btn-sm.waves-effect.btn-create {
    float: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid #50b2bd !important;
    background: linear-gradient(to bottom, #50b2bd 0%, #50b2bd 100%) !important;
    color: #fff !important;
    border-radius: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.2em 0.6em !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #50b2bd !important;
    background: linear-gradient(to bottom, #50b2bd 0%, #50b2bd 100%) !important;
    color: #fff !important;
    border-radius: 20px;
}
#example thead {
    background: #50b2bd;
    color: #fff;
}
table.dataTable thead th {
    border-bottom: none !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}

.dataTables_info {
    font-size: 12px;
}