 .side-nav .collapsible>li {
     padding-bottom: 18px;
 }
 .fixed-sn .double-nav,
 .fixed-sn footer,
 .fixed-sn main {
     padding-top: 0;
     padding-bottom: 0;
 }
 .double-nav .breadcrumb-dn p {
     padding-left: 7rem;
     color: #50b2bd;
 }
 .navbar-nav .nav-item .nav-link .men {
     width: 38px;
     border-radius: 20px;
 }
 main h3 {
     padding-top: 8vh;
     padding-bottom: 3vh;
 }
 .btn4 {
     text-align: right;
 }
  
 header ul li .images-icon {
     float: left;
 }
 header ul li .images-icon img {
     width: 40px;
     border-radius: 25px;
     margin-left: 30px;
 }
 .text-wrapper {
     float: left;
     padding: 0 0 20px 28px;
 }
 .text-wrapper p {
     color: #c3b9b9;
     font-size: 13px;
     margin: 0;
 }
 .text-wrapper h5 {
     color: #50b2bd;
 }
 .clear {
     clear: both;
 }
 main{
    margin-bottom: 50vh;
 }
 @media (max-width: 910px) {
     .side-nav .logo-wrapper,
     .side-nav .logo-wrapper a {
         height: 105px;
     }
 }
 @media (max-width: 1440px) {
     .navbar .button-collapse {
         margin-top: 12px;
     }
 }