* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
    background-image: url(../images/bg_splash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}
hgroup {
    text-align: center;
    margin-top: 4em;
}
h1,
h3 {
    font-weight: 300;
}
h1 {
    color: #636363;
}
h3 {
    color: #4a89dc;
}
.login-form {
    margin-right: 20em;
    float: right;
}
.login-form p {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}
form {
    width: 460px;
    padding: 2em 4em 2em 4em;
    background: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    background: #33b5d9;
}

.logo-img {
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
    animation-name: slidein;
}
@-moz-keyframes slidein {
    from {
        margin-left: 50%;
    }
    to {
        margin-left: 0%;
    }
}
@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
/***animation for image end***/
/*loginform animation*/

.login-form {
    -webkit-animation-name: login-form;
    animation-name: login-form;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes login-form {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes login-form {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
/*loginform animation*/

header {
    overflow: hidden;
}
form .logo-icon {
    text-align: center;
}
form .logo-icon img {width: 175px;}
form .logo-icon h3 {
    margin-top: 35px;
    margin-bottom: 45px;
    color: #fff;
    font-size: 17px;
}
form .user-box {
    margin-bottom: 20px;
}
/*******check box end***********/

.btn-info {
    width: 100%;
    border: 2px solid #fff !important;
    background: #33b5d9 !important;
}
.md-form label {
    color: #fff;
}
fieldset {
    text-align: center;
    padding-top: 35px !important;
}
fieldset label {
    color: #fff;
}
[type=checkbox]:checked+label:before {
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}
[type=checkbox]+label.lbl:before {
    width: 25px !important;
    height: 25px !important;
    border: 2px solid #fff;
}
[type=checkbox]:checked+label:before {
    width: 12px !important;
    height: 20px !important;
}
.btn-info:focus,
.btn-info:hover {
    background-color: #21bbd4 !important;
}
input[type=text]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label {color: #fff !important;}
input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]) {border-bottom: 1px solid #fff !important; box-shadow: 0 1px 0 0 #fff !important;}
